<%= form_with(model: article, class: "contents") do |form| %>
  <% if article.errors.any? %>
    <div data-controller="alert" id="error_explanation" data-alert-target="container" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <button class="w-full text-right"  data-action="click->alert#close">x</button>
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, autocomplete:"off",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 2, autocomplete:"off",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-indigo-500 inline-block font-medium hover:bg-indigo-600 ease-out duration-300 transition cursor-pointer text-white" %>
  </div>
<% end %>
